In [1]:
from refractio import manager, snowflake
import snowflake.connector

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

In [24]:
connection_details = manager.get_conn_details_from_ds_name("HR_DATA", "4e7e1922-7f1d-4369-9fa7-c4245af57b71")

In [25]:
con = snowflake.connector.connect(
        user=connection_details["params"]["READER"]["user"],
        password=connection_details["params"]["READER"]["password"],
        account=connection_details["params"]["READER"]["accountId"],
        database=connection_details["params"]["READER"]["database"],
        role=connection_details["params"]["READER"]["role"],
        cloudPlatform=connection_details["params"]["READER"]["cloudPlatform"],
        schema=connection_details["params"]["READER"]["schema"],
        wareHouse=connection_details["params"]["READER"]["wareHouse"],
        region=connection_details["params"]["READER"]["region"] + ".gcp" if connection_details["params"]["READER"]["cloudPlatform"] == "gcp" else connection_details["params"]["READER"]["region"]
    )

In [26]:
cur = con.cursor()
cur.execute(f"use warehouse {connection_details['params']['READER']['wareHouse']};")
cur.execute('SELECT * FROM "HR_DATA"')
df = cur.fetch_pandas_all()
cur.close()

True

In [27]:
df

,SATISFACTION_LEVEL,LAST_EVALUATION,NUMBER_PROJECT,AVERAGE_MONTLY_HOURS,TIME_SPEND_COMPANY,WORK_ACCIDENT,LEFT,PROMOTION_LAST_5YEARS,DEPARTMENT,SALARY
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [28]:
con.close()

In [29]:
connection_details = manager.get_conn_details_from_ds_name("emp", "4e7e1922-7f1d-4369-9fa7-c4245af57b71")

In [30]:
con = snowflake.connector.connect(
        user=connection_details["params"]["READER"]["user"],
        password=connection_details["params"]["READER"]["password"],
        account=connection_details["params"]["READER"]["accountId"],
        database=connection_details["params"]["READER"]["database"],
        role=connection_details["params"]["READER"]["role"],
        cloudPlatform=connection_details["params"]["READER"]["cloudPlatform"],
        schema=connection_details["params"]["READER"]["schema"],
        wareHouse=connection_details["params"]["READER"]["wareHouse"],
        region=connection_details["params"]["READER"]["region"] + ".gcp" if connection_details["params"]["READER"]["cloudPlatform"] == "gcp" else connection_details["params"]["READER"]["region"]
    )

In [31]:
cur = con.cursor()
cur.execute(f"use warehouse {connection_details['params']['READER']['wareHouse']};")
cur.execute('SELECT * FROM "emp"')
df = cur.fetch_pandas_all()
cur.close()

True

In [32]:
df

,EDUCATION,JOININGYEAR,CITY,PAYMENTTIER,AGE,GENDER,EVERBENCHED,EXPERIENCEINCURRENTDOMAIN,LEAVEORNOT
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [33]:
con.close()

In [34]:
connection_details

{'params': {'READER': {'schema': 'PUBLIC',
   'cloudPlatform': 'gcp',
   'role': '"ABHISHEK"',
   'clientId': None,
   'tokenUrl': None,
   'scopeUrl': None,
   'type': 'RDBMS',
   'wareHouse': 'FOSFOR_INSIGHT_WH',
   'accountId': 'ug94937',
   'privateKey': None,
   'password': 'Newuser@#123',
   'database': 'FDC_DEV_ABHISHEK',
   'tables': 'emp',
   'sub_type': 'SNOWFLAKE',
   'subType': 'SNOWFLAKE',
   'clientSecret': None,
   'authenticationType': 'dbPassword',
   'rowCount': 10,
   'region': 'us-east4',
   'user': 'ABHISHEK',
   'applicationName': 'FOSFOR',
   'passPhrase': 'ABHISHEK'}},
 'url': 'http://connectors-backend-service/connectors/v1/connectors/metadata',
 'access': True,
 'errorMsg': None,
 'values': {}}