In [4]:
from snowflake.snowpark.session import Session

connection_params = {
    'user': "REFRACT.FOSFOR@LNTINFOTECH.COM", 
    'password': "Password321", 
    'account':"fya62509.us-east-1", 
    'role':"FOSFOR_REFRACT", 
    'warehouse': "FOSFOR_REFRACT"
}

session = Session.builder.configs(connection_params).create()
session.sql("USE FOSFOR_REFRACT;").collect()

#data = session.sql("SHOW TABLES;").collect()
#print(data)

#data= session.sql("SELECT * from BIAS.BIASED_TABLE limit 1;").collect()
#print(data)

session.sql('CREATE OR REPLACE TABLE BIAS.sample_product_data (id INT, parent_id INT, category_id INT, name VARCHAR, serial_number VARCHAR, key INT, "3rd" INT);').collect()
r1=session.sql("""
    INSERT INTO BIAS.sample_product_data VALUES
    (1, 0, 5, 'Product 1', 'prod-1', 1, 10),
    (2, 1, 5, 'Product 1A', 'prod-1-A', 1, 20),
    (3, 1, 5, 'Product 1B', 'prod-1-B', 1, 30),
    (4, 0, 10, 'Product 2', 'prod-2', 2, 40),
    (5, 4, 10, 'Product 2A', 'prod-2-A', 2, 50)
    """).collect()
print(r1)

session.close()

[Row(number of rows inserted=5)]

In [5]:
from snowflake.snowpark.functions import col

session = Session.builder.configs(connection_params).create()
session.sql("USE FOSFOR_REFRACT;").collect()

df_table = session.table("BIAS.sample_product_data")
df_table1 = session.table("BIAS.sample_product_data").select(col("id"), col("name"), col("serial_number"))
#df1 = session.create_dataframe([1, 2, 3, 4]).to_df("a")
df_table.show()
df_table1.show()


session.close()

-------------------------------------------------------------------------------------
|"ID"  |"PARENT_ID"  |"CATEGORY_ID"  |"NAME"      |"SERIAL_NUMBER"  |"KEY"  |"3rd"  |
-------------------------------------------------------------------------------------
|1     |0            |5              |Product 1   |prod-1           |1      |10     |
|2     |1            |5              |Product 1A  |prod-1-A         |1      |20     |
|3     |1            |5              |Product 1B  |prod-1-B         |1      |30     |
|4     |0            |10             |Product 2   |prod-2           |2      |40     |
|5     |4            |10             |Product 2A  |prod-2-A         |2      |50     |
-------------------------------------------------------------------------------------

---------------------------------------
|"ID"  |"NAME"      |"SERIAL_NUMBER"  |
---------------------------------------
|1     |Product 1   |prod-1           |
|2     |Product 1A  |prod-1-A         |
|3     |Product 1B  |prod-1-B         |
|4     |Product 2   |prod-2           |
|5     |Product 2A  |prod-2-A         |
---------------------------------------

In [ ]:
pip install refractio==2.1.5.4

In [7]:
from refractio import snowflake
snowflake.get_dataframe("BIASED_TABLE")

,REGION,AGE,SEX,RACE,MARRY,FTSTU,ACTDTY,HONRDC,RTHLTH,MNHLTH,...,ADSMOK42,PCS42,MCS42,K6SUM42,PHQ242,EMPST,POVCAT,INSCOV,UTILIZATION,PERWT15F
0,2,53,1,White,5,-1,2,2,4,3,...,2,25.93,58.47,3,0,4,1,2,1,21854.981705
1,2,56,2,White,3,-1,2,2,4,3,...,2,20.42,26.57,17,6,4,3,2,1,18169.604822
2,2,23,2,White,5,3,2,2,1,1,...,2,53.12,50.33,7,0,1,2,2,0,17191.832515
3,2,3,1,White,6,-1,3,3,1,3,...,-1,-1.00,-1.00,-1,-1,-1,2,2,0,20261.485463
4,3,27,1,Non-White,1,-1,1,4,2,1,...,-1,-1.00,-1.00,-1,-1,1,3,1,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15825,3,25,1,Non-White,1,-1,2,2,1,1,...,2,56.71,62.39,0,0,1,1,1,0,4111.315754
15826,3,25,2,Non-White,1,-1,2,2,1,1,...,2,56.71,62.39,0,0,4,1,1,0,5415.228173
15827,3,2,2,White,6,-1,3,3,1,1,...,-1,-1.00,-1.00,-1,-1,-1,1,2,0,3896.116219
15828,1,54,2,Non-White,3,-1,2,2,1,1,...,2,43.97,42.45,24,0,1,3,2,0,4883.851005
15829,1,73,2,Non-White,2,-1,4,2,2,1,...,2,42.68,43.46,0,0,4,3,2,0,6630.588948

In [ ]:
from snowflake.snowpark.types import IntegerType
from snowflake.snowpark.functions import udf
from snowflake.snowpark.functions import col

session = Session.builder.configs(connection_params).create()
session.sql("USE FOSFOR_REFRACT;").collect()
    

add_one_udf = udf(lambda x: x+1, return_type=IntegerType(), input_types=[IntegerType()])


df = session.table(("BIAS.sample_product_data"))
result = df.select(add_one_udf("id")).to_df("col1").collect()

result.show()