In [17]:
from snowflake.snowpark.session import Session

connection_params = {'user': "REFRACT.FOSFOR@LNTINFOTECH.COM", 'password': "Password321", 'account':"fya62509.us-east-1", 'role':"FOSFOR_REFRACT", 'warehouse': "FOSFOR_REFRACT"}

session = Session.builder.configs(connection_params).create()
#data = session.sql("SHOW TABLES;").collect()
#print(data)

session.sql("USE FOSFOR_REFRACT;").collect()
data= session.sql("SELECT * from BIAS.BIASED_TABLE limit 1;").collect()
print(data)
#session.sql('CREATE OR REPLACE TABLE BIAS.sample_product_data (id INT, parent_id INT, category_id INT, name VARCHAR, serial_number VARCHAR, key INT, "3rd" INT);').collect()
session.sql("""
... INSERT INTO sample_product_data VALUES
... (1, 0, 5, 'Product 1', 'prod-1', 1, 10),
... (2, 1, 5, 'Product 1A', 'prod-1-A', 1, 20),
... (3, 1, 5, 'Product 1B', 'prod-1-B', 1, 30),
... (4, 0, 10, 'Product 2', 'prod-2', 2, 40),
... (5, 4, 10, 'Product 2A', 'prod-2-A', 2, 50),
... (6, 4, 10, 'Product 2B', 'prod-2-B', 2, 60),
... (7, 0, 20, 'Product 3', 'prod-3', 3, 70),
... (8, 7, 20, 'Product 3A', 'prod-3-A', 3, 80),
... (9, 7, 20, 'Product 3B', 'prod-3-B', 3, 90),
... (10, 0, 50, 'Product 4', 'prod-4', 4, 100),
... (11, 10, 50, 'Product 4A', 'prod-4-A', 4, 100),
... (12, 10, 50, 'Product 4B', 'prod-4-B', 4, 100)
... """).collect()


#df_table = session.table("BIASED_TABLE")
#df_table.show()


session.close()

[Row(REGION=2, AGE=53, SEX=1, RACE='White', MARRY=5, FTSTU=-1, ACTDTY=2, HONRDC=2, RTHLTH=4, MNHLTH=3, HIBPDX=1, CHDDX=1, ANGIDX=1, MIDX=1, OHRTDX=1, STRKDX=2, EMPHDX=1, CHBRON=2, CHOLDX=1, CANCERDX=2, DIABDX=1, JTPAIN=1, ARTHDX=1, ARTHTYPE=3, ASTHDX=2, ADHDADDX=-1, PREGNT=-1, WLKLIM=2, ACTLIM=1, SOCLIM=2, COGLIM=2, DFHEAR42=2, DFSEE42=2, ADSMOK42=2, PCS42=25.93, MCS42=58.47, K6SUM42=3, PHQ242=0, EMPST=4, POVCAT=1, INSCOV=2, UTILIZATION=1, PERWT15F=21854.981705000002)]